name: R2pipe Rust CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    build_and_test:
        name: R2pipe.rs
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
            - uses: actions-rs/cargo@v1
              with:
                  command: build
                  args: --release --all-features




